{
  "openapi": "3.1.0",
    "info": {
        "title": "API ПорталДанных.РФ",
        "version": "1.0.0",
    "description": "Полная документация по REST API для управления продуктами, офферами, заказами и складами.\nАвторизация по API-ключу обязательна для всех методов (заголовок Authorization).\n\n## Основные модули\n- **Products** - Управление продуктами (включая штрих-коды, статусы и медиаданные)\n- **Offers** - Управление предложениями (офферами)\n- **Orders** - Управление заказами\n- **Warehouses** - Управление складами\n\n## Система статусов продуктов\n- **processing** - В обработке (по умолчанию при создании)\n- Статус не может быть изменен через API\n- Классификация происходит внешним скриптом по полям category_id и brand_id\n- Офферы создаются только для продуктов с заполненными category_id и brand_id\n\n## Фильтры продуктов\n- **owner** - Фильтр по владельцу:\n  - **my** - Продукты текущего пользователя\n  - **others** - Продукты других пользователей\n  - **all** - Все продукты (по умолчанию)\n- **upload_status** - Фильтр по статусу загрузки:\n  - **classified** - Продукты с заполненными category_id и brand_id (по умолчанию), 'processing' — в обработке, 'not_classified' — продукты без category_id или brand_id"
  },
  "servers": [
    {
      "url": "https://api.portaldata.ru",
      "description": "🚀 Production API (Рекомендуется)"
    },
    {
      "url": "http://localhost:8095",
      "description": "🔧 Development API (Локальная разработка)"
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Управление продуктами (создание, обновление, получение списка)"
    },
    {
      "name": "Offers",
      "description": "Управление офферами и поиск через OpenSearch"
    },
    {
      "name": "Orders",
      "description": "Управление заказами"
    },
    {
      "name": "Warehouses",
      "description": "Управление складами"
    },
    {
      "name": "Categories",
      "description": "Работа с категориями продуктов"
    },
    {
      "name": "Characteristics",
      "description": "Работа с характеристиками продуктов и категорий"
    },
    {
      "name": "Search",
      "description": "Поиск продуктов через OpenSearch"
    },
    {
      "name": "User",
      "description": "Управление пользователями и аутентификация"
    },
    {
      "name": "Tariffs",
      "description": "Управление тарифами"
    }
  ],
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
                "in": "header",
                "name": "Authorization",
                "description": "Authorization: Bearer <api_key> или X-API-KEY: <api_key> или GET параметр ?api_key=<api_key>"
            }
        },
    "parameters": {},
        "schemas": {
            "Product": {
                "type": "object",
                "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "vendor_article": {
            "type": "string"
          },
          "recommend_price": {
            "type": "number"
          },
          "brand": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта (опциональное поле)"
          },
          "status": {
            "type": "string",
            "description": "Статус продукта (processing - в обработке, classified - классифицирован, not_classified - не классифицирован)",
            "enum": ["processing", "classified", "not_classified"]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта (опциональное поле)"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта (опциональное поле)"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта (опциональное поле)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateProductRequest": {
                "type": "object",
        "required": [
          "name",
          "vendor_article",
          "recommend_price",
          "brand",
          "category"
        ],
                "properties": {
          "name": {
            "type": "string",
            "description": "Название продукта (обязательное поле)"
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика/производителя (обязательное поле, должен быть уникальным в рамках одного пользователя)"
          },
          "recommend_price": {
            "type": "number",
            "format": "float",
            "minimum": 0.01,
            "exclusiveMinimum": true,
            "description": "Рекомендуемая цена за единицу товара (обязательное поле). Должна быть больше 0. Поддерживает десятичные значения (например: 15999.99, 100.50)"
          },
          "brand": {
            "type": "string",
            "description": "Бренд/производитель продукта (обязательное поле)"
          },
          "category": {
            "type": "string",
            "description": "Категория товара (обязательное поле)"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта включая характеристики (необязательное поле)"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта (опциональное поле)"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта (опциональное поле). Поддерживаемые форматы: .jpg, .jpeg, .png, .gif, .webp"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта (опциональное поле). Поддерживаемые форматы: .mp4, .avi, .mov, .wmv, .flv"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта (опциональное поле). Поддерживаемые форматы: .obj, .fbx, .3ds, .dae, .stl"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически. Медиаданные сохраняются в отдельной таблице media."
            },
                        "UpdateProductRequest": {
                "type": "object",
                "properties": {
          "name": {
            "type": "string",
            "description": "Название продукта для поиска (частичное совпадение)"
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика/производителя (должен быть уникальным в рамках одного пользователя)"
          },
          "recommend_price": {
            "type": "number",
            "description": "Рекомендуемая цена за единицу товара"
          },
          "brand": {
            "type": "string",
            "description": "Бренд/производитель продукта"
          },
          "category": {
            "type": "string",
            "description": "Категория товара"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта включая характеристики (необязательное поле)"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта. Поддерживаемые форматы: .jpg, .jpeg, .png, .gif, .webp"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта. Поддерживаемые форматы: .mp4, .avi, .mov, .wmv, .flv"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта. Поддерживаемые форматы: .obj, .fbx, .3ds, .dae, .stl"
          }
        }
            },
            "BatchCreateProductRequest": {
                "type": "object",
                "required": ["products"],
                "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateProductRequest"
            },
            "description": "Массив продуктов для создания (максимум 100 продуктов за раз)"
          }
        },
        "description": "Пакетное создание продуктов с медиаданными. Все операции выполняются в транзакции."
            },
            "Offer": {
                "type": "object",
                "properties": {
          "offer_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "is_public": {
            "type": "boolean",
            "description": "Публичный оффер или нет"
          },
          "product_id": {
            "type": "integer"
          },
          "price_per_unit": {
            "type": "number"
          },
          "units_per_lot": {
            "type": "integer"
          },
          "tax_nds": {
            "type": "integer"
          },
          "available_lots": {
            "type": "integer"
          },
          "latitude": {
            "type": "number",
            "description": "Координаты автоматически подтягиваются из склада"
          },
          "longitude": {
            "type": "number",
            "description": "Координаты автоматически подтягиваются из склада"
          },
          "warehouse_id": {
            "type": "integer"
          },
          "offer_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "Тип оффера: sale - продажа, buy - покупка"
          },
          "max_shipping_days": {
            "type": "integer",
            "default": 0,
            "description": "Максимальный срок поставки на склад в днях"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateOfferRequest": {
                "type": "object",
        "required": [
          "product_id",
          "offer_type",
          "price_per_unit",
          "units_per_lot",
          "available_lots",
          "tax_nds",
          "warehouse_id"
        ],
                "properties": {
          "product_id": {
            "type": "integer",
            "description": "ID продукта для создания оффера (обязательное поле)"
          },
          "offer_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "Тип оффера: sale - продажа, buy - покупка (обязательное поле)"
          },
          "price_per_unit": {
            "type": "number",
            "description": "Цена за единицу товара (обязательное поле)"
          },
          "units_per_lot": {
            "type": "integer",
            "description": "Количество единиц товара в одном лоте (обязательное поле)"
          },
          "available_lots": {
            "type": "integer",
            "description": "Количество доступных лотов (обязательное поле)"
          },
          "tax_nds": {
            "type": "integer",
            "description": "НДС в цене в процентах (0 - если без НДС, обязательное поле)"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "ID склада, координаты будут автоматически подтянуты из склада"
          },
          "is_public": {
            "type": "boolean",
            "default": true,
            "description": "Публичный оффер или нет. По умолчанию true."
          },
          "max_shipping_days": {
            "type": "integer",
            "default": 0,
            "description": "Максимальный срок поставки на склад в днях"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически. Координаты автоматически заполняются из склада."
            },
            "UpdateOfferRequest": {
                "type": "object",
                "properties": {
          "price_per_unit": {
            "type": "number",
            "description": "Цена за единицу товара"
          },
          "units_per_lot": {
            "type": "integer",
            "description": "Количество единиц товара в одном лоте"
          },
          "available_lots": {
            "type": "integer",
            "description": "Количество доступных лотов"
          },
          "tax_nds": {
            "type": "integer",
            "description": "НДС в цене в процентах (0 - если без НДС)"
          },
          "is_public": {
            "type": "boolean",
            "description": "Новый статус публичности оффера"
          },
          "max_shipping_days": {
            "type": "integer",
            "description": "Максимальный срок поставки на склад в днях"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "При изменении склада координаты обновятся автоматически"
          }
                }
            },
            "Order": {
                "type": "object",
                "properties": {
          "order_id": {
            "type": "integer"
          },
          "total_amount": {
            "type": "number",
            "description": "Общая сумма заказа"
          },
          "is_multi": {
            "type": "object",
            "properties": {
              "Bool": {
                "type": "boolean"
              },
              "Valid": {
                "type": "boolean"
              }
            }
          },
          "offer_id": {
            "type": "integer"
          },
          "initiator_user_id": {
            "type": "integer",
            "description": "ID покупателя (создателя заказа)"
          },
          "counterparty_user_id": {
            "type": "integer",
            "description": "ID продавца (владельца оффера)"
          },
          "order_time": {
            "type": "string",
            "format": "date-time"
          },
          "price_per_unit": {
            "type": "number"
          },
          "units_per_lot": {
            "type": "integer"
          },
          "lot_count": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          },
          "order_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "sale - продажа, buy - покупка"
          },
          "payment_method": {
            "type": "string"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Статус заказа"
          },
          "status_reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          },
          "status_changed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время изменения статуса"
          },
          "status_changed_by": {
            "type": "integer",
            "description": "ID пользователя, изменившего статус"
          },
          "shipping_address": {
            "type": "string"
          },
          "tracking_number": {
            "type": "string"
          },
          "max_shipping_days": {
            "type": "integer",
            "description": "Максимальный срок поставки на склад в днях"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateOrderRequest": {
                "type": "object",
        "required": [
          "offer_id",
          "quantity"
        ],
                "properties": {
          "offer_id": {
            "type": "integer",
            "description": "ID оффера"
          },
          "quantity": {
            "type": "integer",
            "description": "Количество лотов"
          }
        }
      },
      "UpdateOrderStatusRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Новый статус заказа"
          },
          "reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          }
                }
            },
            "GetOrderResponse": {
                "type": "object",
                "properties": {
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "order_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "order_id": {
                  "type": "integer"
                },
                "offer_id": {
                  "type": "integer"
                },
                "qty": {
                  "type": "integer"
                },
                "price_per_unit": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
                }
            },
            "Warehouse": {
                "type": "object",
                "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "wb_id": {
            "type": "string"
          },
          "working_hours": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
                }
            },
            "CreateWarehouseRequest": {
                "type": "object",
        "required": [
          "name",
          "address",
          "latitude",
          "longitude"
        ],
                "properties": {
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "working_hours": {
            "type": "string"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически."
            },
            "UpdateWarehouseRequest": {
                "type": "object",
                "properties": {
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "working_hours": {
            "type": "string"
          }
        }
      },
      "ProductUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями продукта",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID обновленного продукта"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля продукта"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      },
      "OfferUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями оффера",
        "properties": {
          "offer_id": {
            "type": "integer",
            "description": "ID обновленного оффера"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля оффера"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      },
      "OrderStatusUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленным статусом заказа",
        "properties": {
          "order_id": {
            "type": "integer",
            "description": "ID заказа"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Новый статус заказа"
          },
          "status_reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          },
          "status_changed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время изменения статуса"
          },
          "status_changed_by": {
            "type": "integer",
            "description": "ID пользователя, изменившего статус"
          }
        }
      },
      "WarehouseUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями склада",
        "properties": {
          "warehouse_id": {
            "type": "integer",
            "description": "ID обновленного склада"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля склада"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      }
    },
    "OfferSearchRequest": {
      "type": "object",
      "description": "Запрос на поиск офферов",
      "properties": {
        "query": {
          "type": "string",
          "description": "Текстовый поиск по названию продукта и артикулу"
        },
        "offer_type": {
          "type": "string",
          "enum": ["buy", "sell"],
          "description": "Тип оффера: buy (покупка) или sell (продажа)"
        },
        "is_public": {
          "type": "boolean",
          "description": "Публичность оффера"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID пользователя"
        },
        "product_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID продукта"
        },
        "product_name": {
          "type": "string",
          "description": "Название продукта для поиска (частичное совпадение)"
        },
        "vendor_article": {
          "type": "string",
          "description": "Артикул производителя для поиска (частичное совпадение)"
        },
        "brand_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID бренда для фильтрации"
        },
        "brand_name": {
          "type": "string",
          "description": "Название бренда"
        },
        "category_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID категории для фильтрации"
        },
        "characteristics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Фильтр по характеристикам (ключ - название характеристики, значение - значение характеристики)"
        },
        "price_min": {
          "type": "number",
          "format": "float",
          "description": "Минимальная цена за единицу товара"
        },
        "price_max": {
          "type": "number",
          "format": "float",
          "description": "Максимальная цена за единицу товара"
        },
        "available_lots": {
          "type": "integer",
          "description": "Минимальное количество доступных лотов"
        },
        "tax_nds": {
          "type": "integer",
          "description": "НДС в цене в процентах для фильтрации (0 - если без НДС)"
        },
        "units_per_lot": {
          "type": "integer",
          "description": "Количество единиц в лоте для фильтрации"
        },
        "warehouse_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID склада для фильтрации"
        },
        "max_shipping_days": {
          "type": "integer",
          "description": "Максимальный срок поставки на склад в днях"
        },
        "latitude": {
          "type": "number",
          "format": "float",
          "description": "Широта центра поиска"
        },
        "longitude": {
          "type": "number",
          "format": "float",
          "description": "Долгота центра поиска"
        },
        "radius": {
          "type": "number",
          "format": "float",
          "description": "Радиус поиска в километрах"
        },
        "min_latitude": {
          "type": "number",
          "format": "float",
          "description": "Минимальная широта для географической фильтрации"
        },
        "max_latitude": {
          "type": "number",
          "format": "float",
          "description": "Максимальная широта для географической фильтрации"
        },
        "min_longitude": {
          "type": "number",
          "format": "float",
          "description": "Минимальная долгота для географической фильтрации"
        },
        "max_longitude": {
          "type": "number",
          "format": "float",
          "description": "Максимальная долгота для географической фильтрации"
        },
        "page": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "description": "Номер страницы"
        },
        "limit": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20,
          "description": "Количество результатов на странице"
        },
        "sort": {
          "type": "string",
          "enum": ["relevance", "price_asc", "price_desc", "created_at_desc", "created_at_asc"],
          "default": "relevance",
          "description": "Сортировка результатов"
        },
        "facets": {
          "type": "boolean",
          "default": false,
          "description": "Включить агрегации (фасеты)"
        }
      }
    },
    "SearchOffer": {
      "type": "object",
      "description": "Оффер в результатах поиска",
      "properties": {
        "offer_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID оффера"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID пользователя"
        },
        "is_public": {
          "type": "boolean",
          "description": "Публичность оффера"
        },
        "product_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID продукта"
        },
        "product_name": {
          "type": "string",
          "description": "Название продукта для поиска (частичное совпадение)"
        },
        "vendor_article": {
          "type": "string",
          "description": "Артикул производителя для поиска (частичное совпадение)"
        },
        "brand_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID бренда для фильтрации"
        },
        "brand_name": {
          "type": "string",
          "description": "Название бренда"
        },
        "category_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID категории для фильтрации"
        },
        "characteristics": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/Characteristic"
          },
          "description": "Характеристики продукта"
        },
        "price_per_unit": {
          "type": "number",
          "format": "float",
          "description": "Цена за единицу"
        },
        "tax_nds": {
          "type": "integer",
          "description": "НДС в цене в процентах для фильтрации (0 - если без НДС)"
        },
        "units_per_lot": {
          "type": "integer",
          "description": "Количество единиц в лоте для фильтрации"
        },
        "available_lots": {
          "type": "integer",
          "description": "Доступно лотов"
        },
        "warehouse_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID склада для фильтрации"
        },
        "offer_type": {
          "type": "string",
          "enum": ["sale", "buy"],
          "description": "Тип оффера"
        },
        "max_shipping_days": {
          "type": "integer",
          "description": "Максимальный срок поставки на склад в днях"
        },
        "latitude": {
          "type": "number",
          "format": "float",
          "description": "Широта"
        },
        "longitude": {
          "type": "number",
          "format": "float",
          "description": "Долгота"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "Дата создания"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "Дата обновления"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Релевантность (только для текстового поиска)"
        }
      },
      "required": ["offer_id", "user_id", "is_public", "product_id", "product_name", "vendor_article", "brand_id", "brand_name", "category_id", "characteristics", "price_per_unit", "tax_nds", "units_per_lot", "available_lots", "warehouse_id", "offer_type", "max_shipping_days", "created_at", "updated_at"]
    },
    "OfferFacets": {
      "type": "object",
      "description": "Агрегации для офферов",
      "properties": {
        "offer_types": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FacetItem"
          },
          "description": "Типы офферов"
        },
        "brands": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FacetItem"
          },
          "description": "Бренды"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FacetItem"
          },
          "description": "Категории"
        },
        "warehouses": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FacetItem"
          },
          "description": "Склады"
        },
        "price_ranges": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/PriceRange"
          },
          "description": "Ценовые диапазоны"
        }
      }
    },
    "FacetItem": {
      "type": "object",
      "description": "Элемент фасета",
      "properties": {
        "value": {
          "type": "string",
          "description": "Значение"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Количество"
        }
      },
      "required": ["value", "count"]
    },
    "PriceRange": {
      "type": "object",
      "description": "Ценовой диапазон",
      "properties": {
        "from": {
          "type": "number",
          "format": "float",
          "description": "От (минимальная цена)"
        },
        "to": {
          "type": "number",
          "format": "float",
          "description": "До (максимальная цена)"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Количество офферов в диапазоне"
        }
      },
      "required": ["from", "to", "count"]
    },
    "Characteristic": {
      "type": "object",
      "description": "Характеристика продукта",
      "properties": {
        "name": {
          "type": "string",
          "description": "Название характеристики"
        },
        "value": {
          "type": "string",
          "description": "Значение характеристики"
        }
      },
      "required": ["name", "value"]
    },
    "CategoryCharacteristic": {
      "type": "object",
      "description": "Характеристика категории с типом и опциями",
      "properties": {
        "id": {
          "type": "integer",
          "description": "ID характеристики"
        },
        "category_id": {
          "type": "integer",
          "description": "ID категории"
        },
        "name": {
          "type": "string",
          "description": "Название характеристики"
        },
        "type": {
          "type": "string",
          "enum": ["text", "number", "boolean", "select", "multiselect"],
          "description": "Тип характеристики"
        },
        "required": {
          "type": "boolean",
          "description": "Обязательная ли характеристика"
        },
        "options": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Доступные опции для характеристики"
        },
        "unit": {
          "type": "string",
          "description": "Единица измерения (для числовых характеристик)"
        },
        "description": {
          "type": "string",
          "description": "Описание характеристики"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "Дата создания"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "Дата обновления"
        }
      },
      "required": ["id", "category_id", "name", "type", "required", "options", "description"]
    },
    "CategoryCharacteristicsResponse": {
      "type": "object",
      "description": "Ответ с характеристиками категории",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "data": {
          "type": "object",
          "properties": {
            "category": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID категории"
                },
                "name": {
                  "type": "string",
                  "description": "Название категории"
                },
                "is_active": {
                  "type": "boolean",
                  "description": "Активна ли категория"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Дата создания"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Дата обновления"
                }
              }
            },
            "characteristics": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CategoryCharacteristic"
              },
              "description": "Список характеристик категории"
            }
          }
        }
      },
      "required": ["success", "data"]
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
    "paths": {
    "/": {
            "get": {
        "summary": "Основной endpoint",
        "description": "Проверка доступности API и типа базы данных",
        "responses": {
          "200": {
            "description": "API доступен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "database": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Создать продукт",
        "tags": ["Products"],
        "description": "Создаёт новый продукт с поддержкой медиаданных. Это метаданные, на основе которых строится вся схема ассортимента на проекте. Наивысший приоритет уделяется данным от производителя. Все поля обязательны, кроме description. Медиаданные (image_urls, video_urls, model_3d_urls) опциональны и сохраняются в отдельной таблице media.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              },
              "examples": {
                "Пример создания продукта": {
                  "summary": "Создание продукта с минимальными данными",
                  "value": {
                    "name": "Телевизор Samsung 32\" Smart TV",
                    "vendor_article": "SAMSUNG-32D3",
                    "recommend_price": 15999.99,
                    "brand": "Samsung",
                    "category": "Электроника",
                    "description": "32-дюймовый смарт-телевизор с поддержкой Smart TV"
                  }
                },
                "Пример с медиаданными": {
                  "summary": "Создание продукта с медиаданными",
                  "value": {
                    "name": "Смартфон iPhone 15 Pro",
                    "vendor_article": "IPHONE-15-PRO-128",
                    "recommend_price": 89999.00,
                    "brand": "Apple",
                    "category": "Смартфоны",
                    "description": "Смартфон с чипом A17 Pro и камерой 48 Мп",
                    "image_urls": [
                      "https://example.com/iphone15pro-1.jpg",
                      "https://example.com/iphone15pro-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/iphone15pro-review.mp4"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Продукт создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Цена должна быть положительной"
                    }
                  }
                },
                "examples": {
                  "Ошибка валидации цены": {
                    "summary": "Цена не может быть нулевой или отрицательной",
                    "value": {
                      "success": false,
                      "error": "Цена должна быть положительной"
                    }
                  },
                  "Ошибка валидации обязательных полей": {
                    "summary": "Отсутствуют обязательные поля",
                    "value": {
                      "success": false,
                      "error": "Требуется name"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Список продуктов",
        "tags": ["Products"],
        "description": "Возвращает список продуктов с пагинацией и медиаданными. Можно фильтровать по производителю: my (мои), others (чужие), all (все). Каждый продукт включает медиаданные (image_urls, video_urls, model_3d_urls).",
                "parameters": [
          {
            "in": "query",
            "name": "owner",
            "schema": {
              "type": "string",
              "enum": [
                "my",
                "others",
                "all"
              ],
              "default": "all"
            },
            "description": "Фильтр по владельцу продуктов: 'my' — только мои продукты, 'others' — только чужие продукты, 'all' — все продукты (по умолчанию)"
          },
          {
            "in": "query",
            "name": "upload_status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "not_classified",
                "classified"
              ],
              "default": "classified"
            },
            "description": "Фильтр по статусу загрузки продуктов: 'classified' — продукты с заполненными category_id и brand_id (по умолчанию), 'processing' — в обработке, 'not_classified' — продукты без category_id или brand_id"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации (начиная с 1, по умолчанию 1)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество продуктов на страницу (от 1 до 100, по умолчанию 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "Список продуктов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
            "get": {
        "summary": "Получить продукт по ID",
        "tags": ["Products"],
        "description": "Возвращает продукт по его уникальному идентификатору с медиаданными (image_urls, video_urls, model_3d_urls).",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Продукт найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "put": {
        "summary": "Обновить продукт",
        "tags": ["Products"],
        "description": "Обновляет данные продукта по ID с поддержкой медиаданных. Можно обновлять как основные поля продукта, так и медиаданные (image_urls, video_urls, model_3d_urls). Медиаданные сохраняются в отдельной таблице media.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Продукт обновлён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
        "summary": "Удалить продукт",
        "tags": ["Products"],
        "description": "Удаляет продукт по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Удалено"
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    },
    "/products/batch": {
      "post": {
        "summary": "Пакетное создание продуктов",
        "tags": ["Products"],
        "description": "Создаёт несколько продуктов одновременно с поддержкой медиаданных. Все операции выполняются в транзакции - при ошибке в любом продукте все изменения откатываются.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Продукты созданы",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "created_count": {
                      "type": "integer",
                      "description": "Количество успешно созданных продуктов"
                    },
                    "total_count": {
                      "type": "integer",
                      "description": "Общее количество продуктов в запросе"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации или превышен лимит продуктов (максимум 100)"
          },
          "500": {
            "description": "Ошибка сервера при создании продуктов"
          }
        }
      }
    },
    "/offers": {
      "post": {
        "summary": "Создать оффер",
        "tags": ["Offers"],
        "description": "Создаёт новый оффер для продажи или покупки товара.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Оффер создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          },
          "404": {
            "description": "Продукт не найден"
          }
        }
      },
      "get": {
        "summary": "Список офферов пользователя",
        "tags": ["Offers"],
        "description": "Возвращает список офферов, созданных текущим пользователем.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации списка офферов (начиная с 1, по умолчанию 1)"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество офферов на страницу (от 1 до 100, по умолчанию 20)"
          },
          {
            "in": "query",
            "name": "offer_type",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            },
            "description": "Фильтр по типу оффера: 'buy' — покупка, 'sell' — продажа"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "completed"]
            },
            "description": "Фильтр по статусу оффера: 'active' — активный, 'inactive' — неактивный, 'completed' — завершенный"
          }
        ],
        "responses": {
          "200": {
            "description": "Список офферов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/public": {
            "get": {
                "summary": "Публичные офферы",
                "tags": ["Offers"],
        "description": "Возвращает список публичных офферов с возможностью фильтрации.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Номер страницы (по умолчанию: 1)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Количество элементов на странице (по умолчанию: 20, максимум: 100)"
          },
          {
            "in": "query",
            "name": "offer_type",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            },
            "description": "Тип оффера: buy (покупка) или sell (продажа)"
          },
          {
            "in": "query",
            "name": "price_min",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Минимальная цена за единицу товара"
          },
          {
            "in": "query",
            "name": "price_max",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Максимальная цена за единицу товара"
          },
          {
            "in": "query",
            "name": "available_lots",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Минимальное количество доступных лотов"
          },
          {
            "in": "query",
            "name": "brand_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID бренда для фильтрации"
          },
          {
            "in": "query",
            "name": "category_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID категории для фильтрации"
          },
          {
            "in": "query",
            "name": "product_name",
            "schema": {
              "type": "string"
            },
            "description": "Название продукта для поиска (частичное совпадение)"
          },
          {
            "in": "query",
            "name": "vendor_article",
            "schema": {
              "type": "string"
            },
            "description": "Артикул производителя для поиска (частичное совпадение)"
          },
          {
            "in": "query",
            "name": "warehouse_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID склада для фильтрации"
          },
          {
            "in": "query",
            "name": "tax_nds",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "НДС в цене в процентах для фильтрации (0 - если без НДС)"
          },
          {
            "in": "query",
            "name": "units_per_lot",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Количество единиц в лоте для фильтрации"
          },
          {
            "in": "query",
            "name": "max_shipping_days",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Максимальный срок поставки на склад в днях"
          },
          {
            "in": "query",
            "name": "min_latitude",
            "schema": {
              "type": "number"
            },
            "description": "Минимальная широта для географической фильтрации"
          },
          {
            "in": "query",
            "name": "max_latitude",
            "schema": {
              "type": "number"
            },
            "description": "Максимальная широта для географической фильтрации"
          },
          {
            "in": "query",
            "name": "min_longitude",
            "schema": {
              "type": "number"
            },
            "description": "Минимальная долгота для географической фильтрации"
          },
          {
            "in": "query",
            "name": "max_longitude",
            "schema": {
              "type": "number"
            },
            "description": "Максимальная долгота для географической фильтрации"
          }
        ],
        "responses": {
          "200": {
            "description": "Список публичных офферов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Общее количество офферов"
                    },
                    "page": {
                      "type": "integer",
                      "description": "Текущая страница"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Количество элементов на странице"
                    }
                  }
                }
              }
            }
          }
        }
            }
        },
        "/offers/{id}": {
            "put": {
                "summary": "Обновить оффер",
                "tags": ["Offers"],
        "description": "Обновляет данные оффера по ID. При изменении склада координаты обновятся автоматически.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор оффера для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOfferRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "price_per_unit": 900,
                    "available_lots": 8,
                    "tax_nds": 10,
                    "units_per_lot": 1,
                    "is_public": true,
                    "max_shipping_days": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
                "summary": "Удалить оффер",
                "tags": ["Offers"],
        "description": "Удаляет оффер по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор оффера для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "204": {
            "description": "Удалено"
          },
          "409": {
            "description": "Есть связанные активные заказы"
          }
        }
      }
    },
    "/offers/wb_stock": {
            "get": {
        "summary": "Остатки WB по офферу",
        "tags": ["Offers"],
        "description": "Возвращает остатки товара на складе WB по офферу.",
                "parameters": [
                    {
                        "in": "query",
            "name": "product_id",
            "required": true,
                        "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор продукта для проверки остатков (целое число больше 0)"
          },
          {
            "in": "query",
            "name": "warehouse_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор склада WB для проверки остатков (целое число больше 0)"
          },
          {
            "in": "query",
            "name": "supplier_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор поставщика/поставки для проверки остатков (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Остатки",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stock": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Создать заказ",
        "tags": ["Orders"],
        "description": "Создаёт новый заказ. Статус автоматически устанавливается в 'pending'.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Заказ создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          },
          "404": {
            "description": "Оффер не найден"
          }
        }
      },
      "get": {
        "summary": "Список заказов пользователя",
        "tags": ["Orders"],
        "description": "Возвращает список заказов, созданных текущим пользователем.",
        "parameters": [
                    {
                        "in": "query",
                        "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации списка заказов (начиная с 1, по умолчанию 1)"
                    },
                    {
                        "in": "query",
                        "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество заказов на страницу (от 1 до 100, по умолчанию 20)"
                    },
                    {
                        "in": "query",
                        "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "cancelled_by_buyer",
                "accepted_by_seller",
                "paid_by_buyer",
                "payment_confirmed_by_seller",
                "shipped_by_seller",
                "delivered",
                "completed"
              ]
            },
            "description": "Фильтр по статусу заказа: 'created' — создан, 'cancelled_by_buyer' — отменен покупателем, 'accepted_by_seller' — принят продавцом, 'paid_by_buyer' — оплачен покупателем, 'payment_confirmed_by_seller' — платеж подтвержден продавцом, 'shipped_by_seller' — отправлен продавцом, 'delivered' — доставлен, 'completed' — завершен"
                    }
                ],
                "responses": {
                    "200": {
            "description": "Список заказов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Order"
                                            }
                                        },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    }
                  }
                                    }
                                }
                            }
                        }
                    }
                }
            },
    "/orders/{id}": {
      "get": {
        "summary": "Получить заказ по ID",
        "tags": ["Orders"],
        "description": "Возвращает заказ по его уникальному идентификатору.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор заказа (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Заказ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    },
    "/orders/{id}/status": {
      "put": {
        "summary": "Изменить статус заказа",
        "tags": ["Orders"],
        "description": "Изменяет статус заказа. Доступно только участникам заказа с соответствующими правами.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор заказа для изменения статуса (целое число больше 0)"
          }
        ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                "$ref": "#/components/schemas/UpdateOrderStatusRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "status": "accepted_by_seller",
                    "reason": "Заказ принят продавцом"
                  }
                                }
                            }
                        }
                    }
                },
                "responses": {
          "200": {
            "description": "Статус изменен",
                        "content": {
                            "application/json": {
                                "schema": {
                  "$ref": "#/components/schemas/OrderStatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Недопустимый статус"
          },
          "403": {
            "description": "Недостаточно прав для изменения статуса"
          },
          "404": {
            "description": "Заказ не найден"
                    }
                }
            }
        },
        "/warehouses": {
            "post": {
                "summary": "Создать склад",
                "tags": ["Warehouses"],
        "description": "Создаёт новый склад. Все поля обязательны.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWarehouseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Склад создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          }
        }
      },
      "get": {
        "summary": "Список складов пользователя",
        "tags": ["Warehouses"],
        "description": "Возвращает список складов, созданных текущим пользователем.",
        "responses": {
          "200": {
            "description": "Список складов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warehouses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Warehouse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
            }
        },
        "/warehouses/{id}": {
            "put": {
                "summary": "Обновить склад",
                "tags": ["Warehouses"],
        "description": "Обновляет данные склада по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор склада для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWarehouseRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "name": "Основной склад",
                    "address": "456 Oak Ave",
                    "latitude": 55.76,
                    "longitude": 37.62,
                    "working_hours": "10:00-19:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
                "summary": "Удалить склад",
                "tags": ["Warehouses"],
        "description": "Удаляет склад по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор склада для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "204": {
            "description": "Удалено"
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    },
    "/search/offers": {
      "get": {
        "summary": "Поиск офферов",
        "description": "Выполняет поиск офферов с поддержкой фильтрации по различным параметрам, включая текстовый поиск, категории, бренды, цены, географические координаты и характеристики",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Текстовый поиск по названию продукта и артикулу",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer_type",
            "in": "query",
            "description": "Тип оффера: buy (покупка) или sell (продажа)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            }
          },
          {
            "name": "is_public",
            "in": "query",
            "description": "Публичность оффера",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "ID пользователя",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "ID продукта",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "product_name",
            "in": "query",
            "description": "Название продукта для поиска (частичное совпадение)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor_article",
            "in": "query",
            "description": "Артикул производителя для поиска (частичное совпадение)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "ID бренда для фильтрации",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "brand_name",
            "in": "query",
            "description": "Название бренда",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "ID категории для фильтрации",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "description": "Минимальная цена за единицу товара",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 0
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "description": "Максимальная цена за единицу товара",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 0
            }
          },
          {
            "name": "available_lots",
            "in": "query",
            "description": "Минимальное количество доступных лотов",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "tax_nds",
            "in": "query",
            "description": "НДС в цене в процентах для фильтрации (0 - если без НДС)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "units_per_lot",
            "in": "query",
            "description": "Количество единиц в лоте для фильтрации",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "warehouse_id",
            "in": "query",
            "description": "ID склада для фильтрации",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "max_shipping_days",
            "in": "query",
            "description": "Максимальный срок поставки на склад в днях",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Широта центра поиска",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Долгота центра поиска",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Радиус поиска в километрах",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Количество результатов на странице",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Сортировка результатов",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["relevance", "price_asc", "price_desc", "created_at_desc", "created_at_asc"],
              "default": "relevance"
            }
          },
          {
            "name": "facets",
            "in": "query",
            "description": "Включить агрегации (фасеты)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "min_latitude",
            "in": "query",
            "description": "Минимальная широта для географической фильтрации",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "max_latitude",
            "in": "query",
            "description": "Максимальная широта для географической фильтрации",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "min_longitude",
            "in": "query",
            "description": "Минимальная долгота для географической фильтрации",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "max_longitude",
            "in": "query",
            "description": "Максимальная долгота для географической фильтрации",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный поиск офферов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "offers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "offer_id": {"type": "integer", "example": 1},
                              "product_name": {"type": "string", "example": "Сварочный аппарат"},
                              "price_per_unit": {"type": "number", "example": 22000}
                            }
                          }
                        },
                        "total": {"type": "integer", "example": 1},
                        "page": {"type": "integer", "example": 1},
                        "limit": {"type": "integer", "example": 20}
                      }
                    }
                  }
                },
                "examples": {
                  "Успешный поиск": {
                    "summary": "Результат поиска офферов",
                    "value": {
                      "success": true,
                      "data": {
                        "offers": [
                          {
                            "offer_id": 1,
                            "user_id": 123,
                            "is_public": true,
                            "product_id": 195060664,
                            "product_name": "Сварочный аппарат, инверторный",
                            "vendor_article": "690-107",
                            "brand_id": 10514,
                            "brand_name": "Ермак",
                            "category_id": 1496952285,
                            "characteristics": [
                              {
                                "name": "Модель",
                                "value": "Smart mig 175s"
                              }
                            ],
                            "price_per_unit": 22000,
                            "tax_nds": 20,
                            "units_per_lot": 1,
                            "available_lots": 5,
                            "warehouse_id": 101,
                            "offer_type": "sale",
                            "max_shipping_days": 3,
                            "latitude": 55.7558,
                            "longitude": 37.6176,
                            "created_at": "2024-01-15T10:30:00Z",
                            "updated_at": "2024-01-15T10:30:00Z",
                            "score": 0.95
                          }
                        ],
                        "total": 1,
                        "page": 1,
                        "limit": 20
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные параметры запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Произошла ошибка"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Произошла ошибка"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/offers/characteristics": {
      "post": {
        "summary": "Поиск офферов по характеристикам",
        "description": "Выполняет поиск офферов по характеристикам продукта с поддержкой сложных фильтров",
        "tags": ["Offers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferSearchRequest"
              },
              "examples": {
                "Поиск по характеристикам": {
                  "summary": "Поиск сварочных аппаратов с определенными характеристиками",
                  "value": {
                    "query": "сварочный аппарат",
                    "offer_type": "sale",
                    "category_id": 1496952285,
                    "characteristics": {
                      "Модель": "Smart mig 175s",
                      "Тип сварочного аппарата": "сварочные инверторы"
                    },
                    "price_min": 20000,
                    "price_max": 30000,
                    "page": 1,
                    "limit": 20,
                    "sort": "price_asc",
                    "facets": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный поиск офферов по характеристикам",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "offers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "offer_id": {"type": "integer", "example": 1},
                              "product_name": {"type": "string", "example": "Сварочный аппарат"},
                              "price_per_unit": {"type": "number", "example": 22000}
                            }
                          }
                        },
                        "total": {"type": "integer", "example": 1},
                        "page": {"type": "integer", "example": 1},
                        "limit": {"type": "integer", "example": 20}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный формат запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Произошла ошибка"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Произошла ошибка"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/characteristics_by_id/{category_id}": {
      "get": {
        "summary": "Получить характеристики категории по ID",
        "description": "Возвращает все характеристики категории с автоматически определенными типами (text, number, boolean, select, multiselect) и доступными опциями",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ID категории для получения характеристик"
          }
        ],
        "responses": {
          "200": {
            "description": "Характеристики категории успешно получены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryCharacteristicsResponse"
                },
                "examples": {
                  "Характеристики категории сверла": {
                    "summary": "Пример ответа для категории сверла",
                    "value": {
                      "success": true,
                      "data": {
                        "category": {
                          "id": 2457353255,
                          "name": "2384 - сверла",
                          "is_active": true,
                          "created_at": "2025-10-29T08:54:54.603474055+03:00",
                          "updated_at": "2025-10-29T08:54:54.6034741+03:00"
                        },
                        "characteristics": [
                          {
                            "id": 1,
                            "category_id": 2457353255,
                            "name": "Диаметр минимальный (мм)",
                            "type": "number",
                            "required": false,
                            "options": ["6 мм", "1 мм", "33 мм", "14 мм", "6.3 мм", "2 мм", "32 мм", "10 мм", "9 мм", "4 мм", "3 мм"],
                            "unit": "мм",
                            "description": "Характеристика найдена в 11 уникальных значениях",
                            "created_at": "2025-10-29T08:54:54.603205566+03:00",
                            "updated_at": "2025-10-29T08:54:54.603205647+03:00"
                          },
                          {
                            "id": 2,
                            "category_id": 2457353255,
                            "name": "Страна производства",
                            "type": "text",
                            "required": false,
                            "options": ["Китай", "Тайвань"],
                            "description": "Характеристика найдена в 2 уникальных значениях",
                            "created_at": "2025-10-29T08:54:54.603275984+03:00",
                            "updated_at": "2025-10-29T08:54:54.603276021+03:00"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Категория не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Категория не найдена"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/by-id/{category_id}/characteristics": {
      "get": {
        "summary": "Получить характеристики категории по ID (альтернативный эндпоинт)",
        "description": "Альтернативный эндпоинт для получения характеристик категории по ID. Возвращает тот же результат, что и /categories/characteristics_by_id/{category_id}",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "ID категории для получения характеристик"
          }
        ],
        "responses": {
          "200": {
            "description": "Характеристики категории успешно получены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryCharacteristicsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Категория не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Категория не найдена"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/by-name/{category_name}/characteristics": {
      "get": {
        "summary": "Получить характеристики категории по названию",
        "description": "Возвращает характеристики категории по её названию. Название должно точно совпадать с названием в базе данных",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "category_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Название категории для получения характеристик (URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "Характеристики категории успешно получены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryCharacteristicsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Категория не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Категория не найдена"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/list": {
      "get": {
        "summary": "Получить все category_id и category_name категорий",
        "description": "Возвращает список всех уникальных пар id+name категорий из MySQL (таблица products)",
        "tags": ["Categories"],
        "responses": {
          "200": {
            "description": "Список id+name категорий успешно получен",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListCategoryIDNameResponse" }
              }
            }
          }
        }
      }
    }
  }
} 