{
  "openapi": "3.1.0",
    "info": {
        "title": "API ПорталДанных.РФ",
        "version": "1.0.0",
    "description": "Полная документация по REST API для управления продуктами, офферами, заказами и складами.\nАвторизация по API-ключу обязательна для всех методов (заголовок Authorization).\n\n## Основные модули\n- **Products** - Управление продуктами (включая штрих-коды, статусы и медиаданные)\n- **Offers** - Управление предложениями (офферами)\n- **Orders** - Управление заказами\n- **Warehouses** - Управление складами\n\n## Система статусов продуктов\n- **processing** - В обработке (по умолчанию при создании)\n- Статус не может быть изменен через API\n- Классификация происходит внешним скриптом по полям category_id и brand_id\n- Офферы создаются только для продуктов с заполненными category_id и brand_id\n\n## Фильтры продуктов\n- **owner** - Фильтр по владельцу:\n  - **my** - Продукты текущего пользователя\n  - **others** - Продукты других пользователей\n  - **all** - Все продукты (по умолчанию)\n- **upload_status** - Фильтр по статусу загрузки:\n  - **classified** - Продукты с заполненными category_id и brand_id (по умолчанию)\n  - **processing** - В обработке\n  - **not_classified** - Продукты без category_id или brand_id\n\n## Система статусов заказов\n- **created** - Заказ создан (по умолчанию)\n- **cancelled_by_buyer** - Отменен покупателем\n- **accepted_by_seller** - Принят продавцом\n- **paid_by_buyer** - Оплачен покупателем\n- **payment_confirmed_by_seller** - Платеж подтвержден продавцом\n- **shipped_by_seller** - Отправлен продавцом\n- **delivered** - Доставлен\n- **completed** - Завершен\n\n## Типы офферов\n- **sale/sell** - Оффер на продажу\n- **buy/purchase** - Оффер на покупку\n\n## Роли в заказах\n- **initiator_user_id** - Покупатель (создатель заказа)\n- **counterparty_user_id** - Продавец (владелец оффера)\n\n## Медиаданные продуктов\n- **image_urls** - Массив URL изображений (.jpg, .jpeg, .png, .gif, .webp)\n- **video_urls** - Массив URL видео файлов (.mp4, .avi, .mov, .wmv, .flv)\n- **model_3d_urls** - Массив URL 3D моделей (.obj, .fbx, .3ds, .dae, .stl)\n- Медиаданные сохраняются в отдельной таблице media\n- Поддерживается валидация URL и расширений файлов\n- Все операции с медиаданными выполняются в транзакциях\n\n## Новые возможности\n- **Штрих-коды продуктов** - Опциональное поле barcode для продуктов\n- **Система статусов продуктов** - Контроль классификации товаров\n- **Географические фильтры** - Фильтрация офферов по координатам\n- **Пакетные операции** - Массовое создание продуктов и офферов\n- **Медиаданные** - Поддержка изображений, видео и 3D моделей для продуктов"
  },
  "servers": [
    {
      "url": "https://api.portaldata.ru/v1/trading",
      "description": "🚀 Production API (Рекомендуется)"
    },
    {
      "url": "http://localhost:8090/api/v1",
      "description": "🔧 Development API (Локальная разработка)"
    }
  ],
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
                "in": "header",
                "name": "Authorization",
                "description": "Authorization: Bearer <api_key> или X-API-KEY: <api_key> или GET параметр ?api_key=<api_key>"
            }
        },
    "parameters": {},
        "schemas": {
            "Product": {
                "type": "object",
                "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "vendor_article": {
            "type": "string"
          },
          "recommend_price": {
            "type": "number"
          },
          "brand": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта (опциональное поле)"
          },
          "status": {
            "type": "string",
            "description": "Статус продукта (processing - в обработке, classified - классифицирован, not_classified - не классифицирован)",
            "enum": ["processing", "classified", "not_classified"]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта (опциональное поле)"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта (опциональное поле)"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта (опциональное поле)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateProductRequest": {
                "type": "object",
        "required": [
          "name",
          "vendor_article",
          "recommend_price",
          "brand",
          "category"
        ],
                "properties": {
          "name": {
            "type": "string",
            "description": "Название продукта (обязательное поле)"
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика/производителя (обязательное поле)"
          },
          "recommend_price": {
            "type": "number",
            "format": "float",
            "minimum": 0.01,
            "exclusiveMinimum": true,
            "description": "Рекомендуемая цена за единицу товара (обязательное поле). Должна быть больше 0. Поддерживает десятичные значения (например: 15999.99, 100.50)"
          },
          "brand": {
            "type": "string",
            "description": "Бренд/производитель продукта (обязательное поле)"
          },
          "category": {
            "type": "string",
            "description": "Категория товара (обязательное поле)"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта включая характеристики (необязательное поле)"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта (опциональное поле)"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта (опциональное поле). Поддерживаемые форматы: .jpg, .jpeg, .png, .gif, .webp"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта (опциональное поле). Поддерживаемые форматы: .mp4, .avi, .mov, .wmv, .flv"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта (опциональное поле). Поддерживаемые форматы: .obj, .fbx, .3ds, .dae, .stl"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически. Медиаданные сохраняются в отдельной таблице media."
            },
                        "UpdateProductRequest": {
                "type": "object",
                "properties": {
          "name": {
            "type": "string",
            "description": "Название продукта"
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика/производителя"
          },
          "recommend_price": {
            "type": "number",
            "description": "Рекомендуемая цена за единицу товара"
          },
          "brand": {
            "type": "string",
            "description": "Бренд/производитель продукта"
          },
          "category": {
            "type": "string",
            "description": "Категория товара"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта включая характеристики (необязательное поле)"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта. Поддерживаемые форматы: .jpg, .jpeg, .png, .gif, .webp"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта. Поддерживаемые форматы: .mp4, .avi, .mov, .wmv, .flv"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта. Поддерживаемые форматы: .obj, .fbx, .3ds, .dae, .stl"
          }
        }
            },
            "BatchCreateProductRequest": {
                "type": "object",
                "required": ["products"],
                "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateProductRequest"
            },
            "description": "Массив продуктов для создания (максимум 100 продуктов за раз)"
          }
        },
        "description": "Пакетное создание продуктов с медиаданными. Все операции выполняются в транзакции."
            },
            "Offer": {
                "type": "object",
                "properties": {
          "offer_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "is_public": {
            "type": "boolean",
            "description": "Публичный оффер или нет"
          },
          "product_id": {
            "type": "integer"
          },
          "price_per_unit": {
            "type": "number"
          },
          "units_per_lot": {
            "type": "integer"
          },
          "tax_nds": {
            "type": "integer"
          },
          "available_lots": {
            "type": "integer"
          },
          "latitude": {
            "type": "number",
            "description": "Координаты автоматически подтягиваются из склада"
          },
          "longitude": {
            "type": "number",
            "description": "Координаты автоматически подтягиваются из склада"
          },
          "warehouse_id": {
            "type": "integer"
          },
          "offer_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "Тип оффера: sale - продажа, buy - покупка"
          },
          "max_shipping_days": {
            "type": "integer",
            "default": 0,
            "description": "Максимальный срок поставки на склад в днях"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateOfferRequest": {
                "type": "object",
        "required": [
          "product_id",
          "offer_type",
          "price_per_unit",
          "units_per_lot",
          "available_lots",
          "tax_nds",
          "warehouse_id"
        ],
                "properties": {
          "product_id": {
            "type": "integer",
            "description": "ID продукта для создания оффера (обязательное поле)"
          },
          "offer_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "Тип оффера: sale - продажа, buy - покупка (обязательное поле)"
          },
          "price_per_unit": {
            "type": "number",
            "description": "Цена за единицу товара (обязательное поле)"
          },
          "units_per_lot": {
            "type": "integer",
            "description": "Количество единиц товара в одном лоте (обязательное поле)"
          },
          "available_lots": {
            "type": "integer",
            "description": "Количество доступных лотов (обязательное поле)"
          },
          "tax_nds": {
            "type": "integer",
            "description": "НДС в цене в процентах (0 - если без НДС, обязательное поле)"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "ID склада, координаты будут автоматически подтянуты из склада"
          },
          "is_public": {
            "type": "boolean",
            "default": true,
            "description": "Публичный оффер или нет. По умолчанию true."
          },
          "max_shipping_days": {
            "type": "integer",
            "default": 0,
            "description": "Максимальный срок поставки на склад в днях"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически. Координаты автоматически заполняются из склада."
            },
            "UpdateOfferRequest": {
                "type": "object",
                "properties": {
          "price_per_unit": {
            "type": "number",
            "description": "Цена за единицу товара"
          },
          "units_per_lot": {
            "type": "integer",
            "description": "Количество единиц товара в одном лоте"
          },
          "available_lots": {
            "type": "integer",
            "description": "Количество доступных лотов"
          },
          "tax_nds": {
            "type": "integer",
            "description": "НДС в цене в процентах (0 - если без НДС)"
          },
          "is_public": {
            "type": "boolean",
            "description": "Новый статус публичности оффера"
          },
          "max_shipping_days": {
            "type": "integer",
            "description": "Максимальный срок поставки на склад в днях"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "При изменении склада координаты обновятся автоматически"
          }
                }
            },
            "Order": {
                "type": "object",
                "properties": {
          "order_id": {
            "type": "integer"
          },
          "total_amount": {
            "type": "number",
            "description": "Общая сумма заказа"
          },
          "is_multi": {
            "type": "object",
            "properties": {
              "Bool": {
                "type": "boolean"
              },
              "Valid": {
                "type": "boolean"
              }
            }
          },
          "offer_id": {
            "type": "integer"
          },
          "initiator_user_id": {
            "type": "integer",
            "description": "ID покупателя (создателя заказа)"
          },
          "counterparty_user_id": {
            "type": "integer",
            "description": "ID продавца (владельца оффера)"
          },
          "order_time": {
            "type": "string",
            "format": "date-time"
          },
          "price_per_unit": {
            "type": "number"
          },
          "units_per_lot": {
            "type": "integer"
          },
          "lot_count": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          },
          "order_type": {
            "type": "string",
            "enum": [
              "sale",
              "buy"
            ],
            "description": "sale - продажа, buy - покупка"
          },
          "payment_method": {
            "type": "string"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Статус заказа"
          },
          "status_reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          },
          "status_changed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время изменения статуса"
          },
          "status_changed_by": {
            "type": "integer",
            "description": "ID пользователя, изменившего статус"
          },
          "shipping_address": {
            "type": "string"
          },
          "tracking_number": {
            "type": "string"
          },
          "max_shipping_days": {
            "type": "integer",
            "description": "Максимальный срок поставки на склад в днях"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
                }
            },
            "CreateOrderRequest": {
                "type": "object",
        "required": [
          "offer_id",
          "quantity"
        ],
                "properties": {
          "offer_id": {
            "type": "integer",
            "description": "ID оффера"
          },
          "quantity": {
            "type": "integer",
            "description": "Количество лотов"
          }
        }
      },
      "UpdateOrderStatusRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Новый статус заказа"
          },
          "reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          }
                }
            },
            "GetOrderResponse": {
                "type": "object",
                "properties": {
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "order_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "order_id": {
                  "type": "integer"
                },
                "offer_id": {
                  "type": "integer"
                },
                "qty": {
                  "type": "integer"
                },
                "price_per_unit": {
                  "type": "number"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
                }
            },
            "Warehouse": {
                "type": "object",
                "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "longitude": {
            "type": "number"
          },
          "latitude": {
            "type": "number"
          },
          "wb_id": {
            "type": "string"
          },
          "working_hours": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
                }
            },
            "CreateWarehouseRequest": {
                "type": "object",
        "required": [
          "name",
          "address",
          "latitude",
          "longitude"
        ],
                "properties": {
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "working_hours": {
            "type": "string"
          }
        },
        "description": "Поля created_at и updated_at выставляются сервером автоматически."
            },
            "UpdateWarehouseRequest": {
                "type": "object",
                "properties": {
          "name": {
            "type": "string",
            "description": "Название склада"
          },
          "address": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "working_hours": {
            "type": "string"
          }
        }
      },
      "ProductUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями продукта",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID обновленного продукта"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля продукта"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      },
      "OfferUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями оффера",
        "properties": {
          "offer_id": {
            "type": "integer",
            "description": "ID обновленного оффера"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля оффера"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      },
      "OrderStatusUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленным статусом заказа",
        "properties": {
          "order_id": {
            "type": "integer",
            "description": "ID заказа"
          },
          "order_status": {
            "type": "string",
            "enum": [
              "created",
              "cancelled_by_buyer",
              "accepted_by_seller",
              "paid_by_buyer",
              "payment_confirmed_by_seller",
              "shipped_by_seller",
              "delivered",
              "completed"
            ],
            "description": "Новый статус заказа"
          },
          "status_reason": {
            "type": "string",
            "description": "Причина изменения статуса"
          },
          "status_changed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время изменения статуса"
          },
          "status_changed_by": {
            "type": "integer",
            "description": "ID пользователя, изменившего статус"
          }
        }
      },
      "WarehouseUpdateResponse": {
        "type": "object",
        "description": "Ответ с обновленными полями склада",
        "properties": {
          "warehouse_id": {
            "type": "integer",
            "description": "ID обновленного склада"
          },
          "updated_fields": {
            "type": "object",
            "description": "Обновленные поля склада"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего обновления"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
    "paths": {
    "/": {
            "get": {
        "summary": "Основной endpoint",
        "description": "Проверка доступности API и типа базы данных",
        "responses": {
          "200": {
            "description": "API доступен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "database": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Создать продукт",
        "description": "Создаёт новый продукт с поддержкой медиаданных. Это метаданные, на основе которых строится вся схема ассортимента на проекте. Наивысший приоритет уделяется данным от производителя. Все поля обязательны, кроме description. Медиаданные (image_urls, video_urls, model_3d_urls) опциональны и сохраняются в отдельной таблице media.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              },
              "examples": {
                "Пример создания продукта": {
                  "summary": "Создание продукта с минимальными данными",
                  "value": {
                    "name": "Телевизор Samsung 32\" Smart TV",
                    "vendor_article": "SAMSUNG-32D3",
                    "recommend_price": 15999.99,
                    "brand": "Samsung",
                    "category": "Электроника",
                    "description": "32-дюймовый смарт-телевизор с поддержкой Smart TV"
                  }
                },
                "Пример с медиаданными": {
                  "summary": "Создание продукта с медиаданными",
                  "value": {
                    "name": "Смартфон iPhone 15 Pro",
                    "vendor_article": "IPHONE-15-PRO-128",
                    "recommend_price": 89999.00,
                    "brand": "Apple",
                    "category": "Смартфоны",
                    "description": "Смартфон с чипом A17 Pro и камерой 48 Мп",
                    "image_urls": [
                      "https://example.com/iphone15pro-1.jpg",
                      "https://example.com/iphone15pro-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/iphone15pro-review.mp4"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Продукт создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Цена должна быть положительной"
                    }
                  }
                },
                "examples": {
                  "Ошибка валидации цены": {
                    "summary": "Цена не может быть нулевой или отрицательной",
                    "value": {
                      "success": false,
                      "error": "Цена должна быть положительной"
                    }
                  },
                  "Ошибка валидации обязательных полей": {
                    "summary": "Отсутствуют обязательные поля",
                    "value": {
                      "success": false,
                      "error": "Требуется name"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Список продуктов",
        "description": "Возвращает список продуктов с пагинацией и медиаданными. Можно фильтровать по производителю: my (мои), others (чужие), all (все). Каждый продукт включает медиаданные (image_urls, video_urls, model_3d_urls).",
                "parameters": [
          {
            "in": "query",
            "name": "owner",
            "schema": {
              "type": "string",
              "enum": [
                "my",
                "others",
                "all"
              ],
              "default": "all"
            },
            "description": "Фильтр по владельцу продуктов: 'my' — только мои продукты, 'others' — только чужие продукты, 'all' — все продукты (по умолчанию)"
          },
          {
            "in": "query",
            "name": "upload_status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "not_classified",
                "classified"
              ],
              "default": "classified"
            },
            "description": "Фильтр по статусу загрузки продуктов: 'classified' — продукты с заполненными category_id и brand_id (по умолчанию), 'processing' — в обработке, 'not_classified' — продукты без category_id или brand_id"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации (начиная с 1, по умолчанию 1)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество продуктов на страницу (от 1 до 100, по умолчанию 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "Список продуктов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
            "get": {
        "summary": "Получить продукт по ID",
        "description": "Возвращает продукт по его уникальному идентификатору с медиаданными (image_urls, video_urls, model_3d_urls).",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Продукт найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "put": {
        "summary": "Обновить продукт",
        "description": "Обновляет данные продукта по ID с поддержкой медиаданных. Можно обновлять как основные поля продукта, так и медиаданные (image_urls, video_urls, model_3d_urls). Медиаданные сохраняются в отдельной таблице media.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Продукт обновлён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
        "summary": "Удалить продукт",
        "description": "Удаляет продукт по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор продукта для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Удалено"
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    },
    "/products/batch": {
      "post": {
        "summary": "Пакетное создание продуктов",
        "description": "Создаёт несколько продуктов одновременно с поддержкой медиаданных. Все операции выполняются в транзакции - при ошибке в любом продукте все изменения откатываются.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Продукты созданы",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "created_count": {
                      "type": "integer",
                      "description": "Количество успешно созданных продуктов"
                    },
                    "total_count": {
                      "type": "integer",
                      "description": "Общее количество продуктов в запросе"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации или превышен лимит продуктов (максимум 100)"
          },
          "500": {
            "description": "Ошибка сервера при создании продуктов"
          }
        }
      }
    },
    "/offers": {
      "post": {
        "summary": "Создать оффер",
        "description": "Создаёт новый оффер для продажи или покупки товара.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Оффер создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          },
          "404": {
            "description": "Продукт не найден"
          }
        }
      },
      "get": {
        "summary": "Список офферов пользователя",
        "description": "Возвращает список офферов, созданных текущим пользователем.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации списка офферов (начиная с 1, по умолчанию 1)"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество офферов на страницу (от 1 до 100, по умолчанию 20)"
          },
          {
            "in": "query",
            "name": "offer_type",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            },
            "description": "Фильтр по типу оффера: 'buy' — покупка, 'sell' — продажа"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "completed"]
            },
            "description": "Фильтр по статусу оффера: 'active' — активный, 'inactive' — неактивный, 'completed' — завершенный"
          }
        ],
        "responses": {
          "200": {
            "description": "Список офферов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/offers/public": {
            "get": {
                "summary": "Публичные офферы",
        "description": "Возвращает список публичных офферов с возможностью фильтрации.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Номер страницы (по умолчанию: 1)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Количество элементов на странице (по умолчанию: 20, максимум: 100)"
          },
          {
            "in": "query",
            "name": "offer_type",
            "schema": {
              "type": "string",
              "enum": ["buy", "sell"]
            },
            "description": "Тип оффера: buy (покупка) или sell (продажа)"
          },
          {
            "in": "query",
            "name": "price_min",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Минимальная цена за единицу товара"
          },
          {
            "in": "query",
            "name": "price_max",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Максимальная цена за единицу товара"
          },
          {
            "in": "query",
            "name": "available_lots",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Минимальное количество доступных лотов"
          },
          {
            "in": "query",
            "name": "brand_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID бренда для фильтрации"
          },
          {
            "in": "query",
            "name": "category_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID категории для фильтрации"
          },
          {
            "in": "query",
            "name": "product_name",
            "schema": {
              "type": "string"
            },
            "description": "Название продукта для поиска (частичное совпадение)"
          },
          {
            "in": "query",
            "name": "vendor_article",
            "schema": {
              "type": "string"
            },
            "description": "Артикул производителя для поиска (частичное совпадение)"
          },
          {
            "in": "query",
            "name": "warehouse_id",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID склада для фильтрации"
          },
          {
            "in": "query",
            "name": "tax_nds",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "НДС в цене в процентах для фильтрации (0 - если без НДС)"
          },
          {
            "in": "query",
            "name": "units_per_lot",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Количество единиц в лоте для фильтрации"
          },
          {
            "in": "query",
            "name": "max_shipping_days",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Максимальный срок поставки на склад в днях"
          },
          {
            "in": "query",
            "name": "min_latitude",
            "schema": {
              "type": "number"
            },
            "description": "Минимальная широта для географической фильтрации"
          },
          {
            "in": "query",
            "name": "max_latitude",
            "schema": {
              "type": "number"
            },
            "description": "Максимальная широта для географической фильтрации"
          },
          {
            "in": "query",
            "name": "min_longitude",
            "schema": {
              "type": "number"
            },
            "description": "Минимальная долгота для географической фильтрации"
          },
          {
            "in": "query",
            "name": "max_longitude",
            "schema": {
              "type": "number"
            },
            "description": "Максимальная долгота для географической фильтрации"
          }
        ],
        "responses": {
          "200": {
            "description": "Список публичных офферов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Общее количество офферов"
                    },
                    "page": {
                      "type": "integer",
                      "description": "Текущая страница"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Количество элементов на странице"
                    }
                  }
                }
              }
            }
          }
        }
            }
        },
        "/offers/{id}": {
            "put": {
                "summary": "Обновить оффер",
        "description": "Обновляет данные оффера по ID. При изменении склада координаты обновятся автоматически.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор оффера для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOfferRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "price_per_unit": 900,
                    "available_lots": 8,
                    "tax_nds": 10,
                    "units_per_lot": 1,
                    "is_public": true,
                    "max_shipping_days": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
                "summary": "Удалить оффер",
        "description": "Удаляет оффер по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор оффера для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "204": {
            "description": "Удалено"
          },
          "409": {
            "description": "Есть связанные активные заказы"
          }
        }
      }
    },
    "/offers/wb_stock": {
            "get": {
        "summary": "Остатки WB по офферу",
        "description": "Возвращает остатки товара на складе WB по офферу.",
                "parameters": [
                    {
                        "in": "query",
            "name": "product_id",
            "required": true,
                        "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор продукта для проверки остатков (целое число больше 0)"
          },
          {
            "in": "query",
            "name": "warehouse_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор склада WB для проверки остатков (целое число больше 0)"
          },
          {
            "in": "query",
            "name": "supplier_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Идентификатор поставщика/поставки для проверки остатков (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Остатки",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stock": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Создать заказ",
        "description": "Создаёт новый заказ. Статус автоматически устанавливается в 'pending'.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Заказ создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          },
          "404": {
            "description": "Оффер не найден"
          }
        }
      },
      "get": {
        "summary": "Список заказов пользователя",
        "description": "Возвращает список заказов, созданных текущим пользователем.",
        "parameters": [
                    {
                        "in": "query",
                        "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Номер страницы для пагинации списка заказов (начиная с 1, по умолчанию 1)"
                    },
                    {
                        "in": "query",
                        "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Количество заказов на страницу (от 1 до 100, по умолчанию 20)"
                    },
                    {
                        "in": "query",
                        "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "cancelled_by_buyer",
                "accepted_by_seller",
                "paid_by_buyer",
                "payment_confirmed_by_seller",
                "shipped_by_seller",
                "delivered",
                "completed"
              ]
            },
            "description": "Фильтр по статусу заказа: 'created' — создан, 'cancelled_by_buyer' — отменен покупателем, 'accepted_by_seller' — принят продавцом, 'paid_by_buyer' — оплачен покупателем, 'payment_confirmed_by_seller' — платеж подтвержден продавцом, 'shipped_by_seller' — отправлен продавцом, 'delivered' — доставлен, 'completed' — завершен"
                    }
                ],
                "responses": {
                    "200": {
            "description": "Список заказов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Order"
                                            }
                                        },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    }
                  }
                                    }
                                }
                            }
                        }
                    }
                }
            },
    "/orders/{id}": {
      "get": {
        "summary": "Получить заказ по ID",
        "description": "Возвращает заказ по его уникальному идентификатору.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор заказа (целое число больше 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "Заказ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    },
    "/orders/{id}/status": {
      "put": {
        "summary": "Изменить статус заказа",
        "description": "Изменяет статус заказа. Доступно только участникам заказа с соответствующими правами.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор заказа для изменения статуса (целое число больше 0)"
          }
        ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                "$ref": "#/components/schemas/UpdateOrderStatusRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "status": "accepted_by_seller",
                    "reason": "Заказ принят продавцом"
                  }
                                }
                            }
                        }
                    }
                },
                "responses": {
          "200": {
            "description": "Статус изменен",
                        "content": {
                            "application/json": {
                                "schema": {
                  "$ref": "#/components/schemas/OrderStatusUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Недопустимый статус"
          },
          "403": {
            "description": "Недостаточно прав для изменения статуса"
          },
          "404": {
            "description": "Заказ не найден"
                    }
                }
            }
        },
        "/warehouses": {
            "post": {
                "summary": "Создать склад",
        "description": "Создаёт новый склад. Все поля обязательны.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWarehouseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Склад создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации"
          }
        }
      },
      "get": {
        "summary": "Список складов пользователя",
        "description": "Возвращает список складов, созданных текущим пользователем.",
        "responses": {
          "200": {
            "description": "Список складов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warehouses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Warehouse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
            }
        },
        "/warehouses/{id}": {
            "put": {
                "summary": "Обновить склад",
        "description": "Обновляет данные склада по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор склада для обновления (целое число больше 0)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWarehouseRequest"
              },
              "examples": {
                "Пример": {
                  "value": {
                    "name": "Основной склад",
                    "address": "456 Oak Ave",
                    "latitude": 55.76,
                    "longitude": 37.62,
                    "working_hours": "10:00-19:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Не найден"
          }
        }
            },
            "delete": {
                "summary": "Удалить склад",
        "description": "Удаляет склад по ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Уникальный идентификатор склада для удаления (целое число больше 0)"
          }
        ],
        "responses": {
          "204": {
            "description": "Удалено"
          },
          "404": {
            "description": "Не найден"
          }
        }
      }
    }
  }
} 