{
  "openapi": "3.1.0",
  "info": {
    "title": "API ПорталДанных.РФ",
    "version": "1.0.0",
    "description": "Полная документация по REST API для управления продуктами, офферами, заказами и складами.\nАвторизация по API-ключу обязательна для всех методов (заголовок Authorization, X-API-KEY или GET параметр api_key).\n\n## Основные модули\n- **Products** - Управление продуктами (включая штрих-коды, статусы и медиаданные)\n- **Offers** - Управление предложениями (офферами)\n- **Orders** - Управление заказами\n- **Warehouses** - Управление складами\n- **Rate Limiting** - Мониторинг и управление лимитами API\n\n## Система статусов продуктов\n- **processing** - В обработке (по умолчанию при создании)\n- **classified** - Классифицирован (есть category_id и brand_id)\n- **not_classified** - Не классифицирован (нет category_id или brand_id)\n\n## Фильтры продуктов\n- **owner** - Фильтр по владельцу:\n  - **my** - Продукты текущего пользователя\n  - **others** - Продукты других пользователей\n  - **all** - Все продукты (по умолчанию)\n- **upload_status** - Фильтр по статусу загрузки:\n  - **classified** - Продукты с заполненными category_id и brand_id (по умолчанию)\n  - **processing** - В обработке\n  - **not_classified** - Продукты без category_id или brand_id\n\n## Система статусов заказов\n- **pending** - Ожидает подтверждения (по умолчанию)\n- **confirmed** - Подтвержден продавцом\n- **processing** - В обработке\n- **shipped** - Отправлен\n- **delivered** - Доставлен\n- **cancelled** - Отменен\n- **rejected** - Отклонен\n\n## Типы офферов\n- **sale** - Оффер на продажу\n- **buy** - Оффер на покупку\n\n## Роли в заказах\n- **initiator_user_id** - Покупатель (создатель заказа)\n- **counterparty_user_id** - Продавец (владелец оффера)\n\n## Медиаданные продуктов\n- **image_urls** - Массив URL изображений (.jpg, .jpeg, .png, .gif, .webp)\n- **video_urls** - Массив URL видео файлов (.mp4, .avi, .mov, .wmv, .flv)\n- **model_3d_urls** - Массив URL 3D моделей (.obj, .fbx, .3ds, .dae, .stl)\n- Медиаданные сохраняются в отдельной таблице media\n- Поддерживается валидация URL и расширений файлов\n- Все операции с медиаданными выполняются в транзакциях\n\n## Rate Limiting\n- **Redis-based** - Основная система ограничения запросов\n- **MySQL-based** - Резервная система (если Redis недоступен)\n- **Публичные офферы** - Отдельные лимиты для публичных эндпоинтов\n- **Мониторинг** - API для просмотра статистики и управления лимитами\n\n## Новые возможности\n- **Штрих-коды продуктов** - Опциональное поле barcode для продуктов\n- **Система статусов продуктов** - Контроль классификации товаров\n- **Географические фильтры** - Фильтрация офферов по координатам\n- **Пакетные операции** - Массовое создание продуктов и офферов\n- **Медиаданные** - Поддержка изображений, видео и 3D моделей для продуктов"
  },
  "servers": [
    {
      "url": "https://api.portaldata.ru/v1/trading",
      "description": "🚀 Production API (Рекомендуется)"
    },
    {
      "url": "http://localhost:8095/api/v1",
      "description": "🔧 Development API (Локальная разработка)"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "in": "header",
        "name": "Authorization",
        "description": "Authorization: Bearer <api_key> или X-API-KEY: <api_key> или GET параметр ?api_key=<api_key>"
      }
    },
    "parameters": {},
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Уникальный идентификатор продукта"
          },
          "name": {
            "type": "string",
            "description": "Название продукта"
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика/производителя"
          },
          "recommend_price": {
            "type": "number",
            "description": "Рекомендуемая цена за единицу товара"
          },
          "brand": {
            "type": "string",
            "description": "Бренд/производитель продукта"
          },
          "category": {
            "type": "string",
            "description": "Категория товара"
          },
          "brand_id": {
            "type": "integer",
            "description": "ID бренда из системы классификации"
          },
          "category_id": {
            "type": "integer",
            "description": "ID категории из системы классификации"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта включая характеристики"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта (опциональное поле)"
          },
          "status": {
            "type": "string",
            "description": "Статус продукта (processing, classified, not_classified)",
            "enum": ["processing", "classified", "not_classified"]
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL изображений продукта"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL видео файлов продукта"
          },
          "model_3d_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Массив URL 3D моделей продукта"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer",
            "description": "ID пользователя-владельца продукта"
          }
        }
      }
    }
  }
}
