{
  "openapi": "3.0.3",
  "info": {
    "title": "Trading API - Демо версия",
    "description": "API для торговой платформы с автоматически сгенерированными примерами",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.portaldata.ru/v1/trading",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8095",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/products": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Создание продукта",
        "description": "Создает новый продукт в системе. Требует аутентификации и валидации данных.",
        "operationId": "CreateProduct",
        "requestBody": {
          "description": "Данные для создания продукта",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              },
              "example": {
                "name": "iPhone 15 Pro",
                "brand": "Apple",
                "category": "Электроника",
                "description": "Смартфон премиум класса",
                "recommend_price": 99999.99,
                "vendor_article": "IP15PRO-256",
                "barcode": "1234567890123",
                "image_urls": [
                  "https://example.com/iphone1.jpg"
                ],
                "video_urls": [
                  "https://example.com/iphone1.mp4"
                ],
                "model_3d_urls": [
                  "https://example.com/iphone1.obj"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Продукт успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 1,
                    "name": "iPhone 15 Pro",
                    "brand": "Apple",
                    "category": "Электроника",
                    "description": "Смартфон премиум класса",
                    "recommend_price": 99999.99,
                    "vendor_article": "IP15PRO-256",
                    "barcode": "1234567890123",
                    "image_urls": [
                      "https://example.com/iphone1.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/iphone1.mp4"
                    ],
                    "model_3d_urls": [
                      "https://example.com/iphone1.obj"
                    ],
                    "user_id": 1,
                    "created_at": "2025-01-01T00:00:00Z",
                    "updated_at": "2025-01-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Некорректный запрос"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Получение списка продуктов",
        "description": "Получает список всех продуктов с возможностью фильтрации. Поддерживает пагинацию и сортировку.",
        "operationId": "ListProducts",
        "responses": {
          "200": {
            "description": "Список продуктов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1,
                      "name": "iPhone 15 Pro",
                      "brand": "Apple",
                      "category": "Электроника",
                      "recommend_price": 99999.99
                    },
                    {
                      "id": 2,
                      "name": "MacBook Pro 16",
                      "brand": "Apple",
                      "category": "Электроника",
                      "recommend_price": 299999.99
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/offers/public": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Публичные предложения",
        "description": "Получает список публичных предложений. Доступно без аутентификации.",
        "operationId": "ListPublicOffers",
        "responses": {
          "200": {
            "description": "Список публичных предложений",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offer"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 1,
                      "product_id": 1,
                      "type": "sale",
                      "price": 99999.99,
                      "lot_count": 5,
                      "vat": true,
                      "delivery_days": 3,
                      "warehouse_id": 1
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/warehouses": {
      "post": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Создание склада",
        "description": "Создает новый склад. Требует валидации географических координат.",
        "operationId": "CreateWarehouse",
        "requestBody": {
          "description": "Данные для создания склада",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWarehouseRequest"
              },
              "example": {
                "name": "Главный склад Москва",
                "address": "ул. Тверская, 1, Москва",
                "latitude": 55.7558,
                "longitude": 37.6176
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Склад успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Warehouse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название продукта",
            "example": "iPhone 15 Pro"
          },
          "brand": {
            "type": "string",
            "description": "Бренд продукта",
            "example": "Apple"
          },
          "category": {
            "type": "string",
            "description": "Категория продукта",
            "example": "Электроника"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта",
            "example": "Смартфон премиум класса"
          },
          "recommend_price": {
            "type": "number",
            "format": "double",
            "description": "Рекомендуемая цена",
            "minimum": 0,
            "example": 99999.99
          },
          "vendor_article": {
            "type": "string",
            "description": "Артикул поставщика",
            "example": "IP15PRO-256"
          },
          "barcode": {
            "type": "string",
            "description": "Штрих-код продукта",
            "example": "1234567890123"
          },
          "image_urls": {
            "type": "array",
            "description": "URL изображений продукта",
            "items": {
              "type": "string"
            },
            "example": [
              "https://example.com/iphone1.jpg"
            ]
          },
          "video_urls": {
            "type": "array",
            "description": "URL видео продукта",
            "items": {
              "type": "string"
            },
            "example": [
              "https://example.com/iphone1.mp4"
            ]
          },
          "model_3d_urls": {
            "type": "array",
            "description": "URL 3D моделей продукта",
            "items": {
              "type": "string"
            },
            "example": [
              "https://example.com/iphone1.obj"
            ]
          }
        },
        "required": [
          "name",
          "brand",
          "category",
          "recommend_price"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Название продукта",
            "example": "iPhone 15 Pro"
          },
          "brand": {
            "type": "string",
            "description": "Бренд продукта",
            "example": "Apple"
          },
          "category": {
            "type": "string",
            "description": "Категория продукта",
            "example": "Электроника"
          },
          "description": {
            "type": "string",
            "description": "Описание продукта",
            "example": "Смартфон премиум класса"
          },
          "recommend_price": {
            "type": "number",
            "format": "double",
            "description": "Рекомендуемая цена",
            "example": 99999.99
          },
          "user_id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Дата создания",
            "example": "2025-01-01T00:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Дата обновления",
            "example": "2025-01-01T00:00:00Z"
          }
        }
      },
      "CreateWarehouseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название склада",
            "example": "Главный склад Москва"
          },
          "address": {
            "type": "string",
            "description": "Адрес склада",
            "example": "ул. Тверская, 1, Москва"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Широта",
            "minimum": -90,
            "maximum": 90,
            "example": 55.7558
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Долгота",
            "minimum": -180,
            "maximum": 180,
            "example": 37.6176
          }
        },
        "required": [
          "name",
          "address",
          "latitude",
          "longitude"
        ]
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "product_id": {
            "type": "integer",
            "format": "int64",
            "description": "ID продукта",
            "example": 1
          },
          "type": {
            "type": "string",
            "description": "Тип предложения",
            "enum": [
              "sale",
              "buy"
            ],
            "example": "sale"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Цена предложения",
            "example": 99999.99
          },
          "lot_count": {
            "type": "integer",
            "description": "Количество лотов",
            "minimum": 1,
            "example": 5
          },
          "vat": {
            "type": "boolean",
            "description": "Включен ли НДС",
            "example": true
          },
          "delivery_days": {
            "type": "integer",
            "description": "Дни доставки",
            "minimum": 1,
            "maximum": 365,
            "example": 3
          },
          "warehouse_id": {
            "type": "integer",
            "format": "int64",
            "description": "ID склада",
            "example": 1
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "API ключ для аутентификации",
        "name": "X-API-KEY",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "Products",
      "description": "Управление продуктами"
    },
    {
      "name": "Offers",
      "description": "Управление предложениями"
    },
    {
      "name": "Warehouses",
      "description": "Управление складами"
    },
    {
      "name": "Orders",
      "description": "Управление заказами"
    }
  ]
}